@import "./variables.css";
@import "./global.css";

<<<<<<< HEAD
*:is(h1, h2, h3, h4, h5, h6) {
    color: var(--dark-blue);
    font-weight: bolder;
}
=======
>>>>>>> develop

.container { 
    width: 100vw;
    position: relative;
    text-align: center;
<<<<<<< HEAD
    margin: 0 auto;

    .hero {
        width: 100vw;
        height: 30vw;
        background-image: url("../Assets/meeting.png");
=======
    padding:0;


    .hero {
        width: 100vw;
        min-width: 100%;
        height: 20vw;
        background-image: url("../Assets/boathouse.jpg");
>>>>>>> develop
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 50%;
        color: var(--yellow);

        h1, h2 {
            display: flex;
            justify-content: center;
            align-content: center;
        }
         
        > p {
            color: var(--yellow);
        }
    }

    .line {
        background-color: var(--yellow);
        width: 75vw;
        height: 1vh;
        display: flex;
        justify-self: center;
        justify-content: center;
        align-self: center;
    }

    .mission-vision {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 30px;
        h2, h3, h5 {
            color: var(--dark-blue);
        }
    }

    .meet-our-experts {
        margin-top: 50px;
        padding: 20px 50px;
        .experts {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 30px;
            .expert {
                border: 10px;
                border-style: solid;
                border-color: var(--dark-blue);
                border-radius: 10%;
                background-color: var(--grey);
                margin: 20px;

                img {
                    margin-top: 25px;
                    border-radius: 50%;
                    width: 200px;
                    height: 200px;
                    object-fit: cover;
                }
                p {
                    padding: 10px;
                }
            }
        }
    }
    .connect{
        .ready {
            color: #000000;
        }
        
        button {
            width: 400px;
            height: 75px;
            font-size: 30px;
            font-weight: 900;
        }
    }
}

@media screen and (max-width: 450px) {
    .container { 
        width: 100%;
        position: relative;
        text-align: center;
    
        .hero {
            width: 100vw;
            height: 75vw;
<<<<<<< HEAD
            background-image: url("../Assets/meeting.png");
=======
            background-image: url("../Assets/boathouse.jpg");
>>>>>>> develop
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 100% 50%;
            color: var(--yellow);
    
            h1, h2 {
                display: flex;
                justify-content: center;
                align-content: center;
            }
             
            > p {
                color: var(--yellow);
            }
        }
    
        .line, .mobile-line {
            background-color: var(--yellow);
            width: 75vw;
            height: 1vh;
            display: flex;
            justify-self: center;
            justify-content: center;
            align-self: center;
        }
    
        .company {
            display: grid;
            margin-top: 30px;
            h2, h3, h5 {
                color: var(--dark-blue);
            }

            h3 {
                font-size: 30px;
                font-weight: 900;
            }
            
            .mission-vision {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
            }
        }
    
        .meet-our-experts {
            margin-top: 50px;
            .experts {
                display: grid;
                grid-template-columns: 1fr;
                grid-row: auto auto;
                gap: 30px;
                .expert {
                    border: 10px;
                    border-style: solid;
                    border-color: var(--dark-blue);
                    border-radius: 10%;
                    background-color: var(--grey);
                    margin: 20px;
    
                    img {
                        margin-top: 25px;
                        border-radius: 50%;
                        width: 200px;
                        height: 200px;
                        object-fit: cover;
                    }
                    p {
                        padding: 10px;
                    }
                }
            }
        }

        .why-us {
            font-size: 40px;
            font-weight: bolder;
        }
        .connect{
            .ready {
                color: #000000;
            }
            
            button {
                width: 250px;
                height: 75px;
                font-size: 30px;
                font-weight: 900;
            }
        }
    }
}