/*
Desktop First Approach
*/

@import "tailwindcss";

body {
	@apply bg-white text-black;
	font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h5 {
	@apply font-bold;
}

h1 {
	@apply text-[#FFC700] text-4xl;
}

h3 {
	@apply text-[#003580] text-3xl;
}

p {
	@apply text-black text-base;
}

button {
	@apply bg-[#FFC700] text-[#294369] text-2xl p-1.5 rounded-xl;
}

span.horizontal-line {
	@apply block h-1 w-[90%] bg-[#FFC700] self-center;
}

/**Tablet-breakpoints **/
@media (min-width: 768px) and (max-width: 992px) {

	#root {
		font-size: 0.95rem;
	}

	h1 {
		font-size: 2.3rem;
	}

	h3 {
		font-size: 1.7rem;
	}

}

/**Mobile-breakpoints **/
@media (max-width: 767px) {
	#root {
		font-size: 0.9rem;
	}

	h1 {
		font-size: 2.2rem;
	}

	h3 {
		font-size: 1.6rem;
	}
}